{
  "presets": [
      [
          "@babel/preset-env",
          {
              "modules": false,
              "useBuiltIns": false,
              "targets": {
                  "chrome": "58"
              }
          }
      ]
  ]
}